html {
    margin: 0;
}

body {
    margin: 0;
}

img {
    height: 50px;
    width: 50px;
}

#playlist-section {
    background-color: rgb(227, 6, 6);
    height: 10vh;
    width: 100vw;
    overflow: hidden;
}

#music-section {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    background-color: rgb(231, 66, 66);
    height: 25vh;
    width: 100vw;
    justify-content: flex-start;
    overflow: hidden;
}


#music-info {
    width: 25vw;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

}

.music-p {
    margin: 1%;
}

#controls-section {
    display: flex;
    flex-direction: row;
}

.buttons {
    margin: 1%;
    padding: .5%;
    border: 0;
    border-radius: 10%;
    font-size: large;
    width: 4vw;
    height: 4vh;
    overflow: hidden;

}

#playlist-songs {

    position: absolute;
    bottom: 25vh;
    background-color: lightblue;
    height: 65vh;
    width: 100vw;
}

.tracks-header {
    margin: 1%;
}

#playlist-section p {
    margin: 1%;
}

#playlist-tracks {
    height: 100%;
    overflow-x: scroll;
}

.clear {
    display: none;
}

#main-button {
    display: flex;
    flex-direction: row;
}

#main-button,
.spacer {
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
}

.spacer {
    display: flex;
    flex-direction: row;
}

#playlist-container {
    overflow: hidden;
    height: 92%;
}

.horizontal {
    display: flex;
    flex-direction: row;
align-items: flex-start;}

.button-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17vw;
}

.button-div {
    margin: 1%;
    width: 100%;
}
.sendButton:hover{
    color:blue
}
