<!DOCTYPE html>
<html>
<head>
  <title>Flask AJAX Example</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      // Assuming you have a button with an ID of 'sendButton' in your HTML
      $('#sendButton').click(function() {
        var myVariable = "Hello, Flask!";

        $.ajax({
          url: "/process_variable",
          data: { variable: myVariable },
          success: function(response) {
            console.log("Response from Flask:", response);
          }
        });
      });
    });
  </script>
</head>
<body>
  <h1>Flask AJAX Example</h1>
  <button id="sendButton">Send Variable</button>
</body>
</html>
