<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Music Player</title>
    <script src="https://kit.fontawesome.com/fb27aa5521.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="static\icons\icon.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">$(document).ready(function () {
            // Assuming you have buttons with a class of 'sendButton' in your HTML list
            $('.sendButton').click(function () {
                var myVariable = $(this).html();
                $.ajax({
                    url: "/process_variable",
                    data: { variable: myVariable },
                    success: function (response) {
                        console.log("Response from Flask:", response);
                    }
                });

                async function wait(ms) {
                    return new Promise(resolve => setTimeout(resolve, ms));
                }

                async function myFunction() {
                    // Code before the delay
                    await wait(500);
                    // Code to execute after the delay
                    window.location.reload();
                }

                myFunction();
            });
        });

    </script>
</head>

<body>
    <div id="data"></div>
    <section id="playlist-section">

        <p id="playlist-selection">



            {{choices}}

        </p>
    </section>
    <section id="playlist-songs">
        <h1 class="tracks-header">
        </h1>
        <p class="tracks-header" id="total-songs">total number of songs:
        </p>
        <div id="playlist-container">
            <ol id="playlist-tracks">
                {% for trait in songs %}
                <li>

                    <div class="horizontal">
                        <img src="{{trait[2]}}">
                        <div>{{trait[3]}}<br>
                            {{trait[4]}}
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ol>
        </div>
    </section>
    <section id="music-section">
        <div class="horizontal" id="music-info">
         <img id="music-image" src="">
       
            <div>
                <p id="title" class="music-p">Title:
                </p>



                <p id="artist" class="music-p"> Artist: </p>
                <p id="queue">todo</p>
            </div>

        </div>
        <div>
            <section id="controls-section">
                <audio preload="metadata" id="audio"
                    src="https://cdn.glitch.global/cd6fb2ed-715d-4dc3-ac15-e67735a547a2/01-Mundane%20cityscape.mp3?v=1685491608165">
                </audio>
                <div class="button-box">
                    <section id="main-button">
                        <div class="button-div"> <button onclick="prev()" class="buttons"><i
                                    class="fa-solid fa-backward-step"></i></button>
                        </div>

                        <div class="button-div" id="play-button-div">
                            <button id="play-button" class="buttons"><i class='fa-solid fa-play'></i></button>
                        </div>
                        <div class="clear" id="pause-button-div">
                            <button id="pause-button" class="buttons"><i class="fa-solid fa-pause"></i></button>
                        </div>
                        <div class="button-div"> <button class="buttons" onclick="next()"><i
                                    class="fa-solid fa-forward-step"></i></button>
                        </div>
                    </section>
                    <div class="spacer">
                        <button id="shuffle-button" class="buttons"><i id="shuffle-icon"
                                class="fa-solid fa-shuffle"></i></button>

                        <button id="loop-button" class="buttons"><i id="loop-icon"
                                class="fa-solid fa-repeat"></i></button>

                    </div>
                </div>

            </section>
            <p id="no-more"></p>
            <p id="length" class="music-p"> Length:</p>

        </div>
    </section>

</body>
<script>

    var data = "{{info}}";
    document.getElementById("data").innerHTML = data;
    data = document.getElementById("data").innerHTML;
    document.getElementById("data").innerHTML = "";
    const string = data;

    // Replace the tuples with arrays
    const replacedString = string.replace(/\(/g, '[').replace(/\)/g, ']');

    // Parse the string into an array of arrays
    const playlistData = JSON.parse(replacedString);


    links = []
    for (i = 0; i < playlistData.length; i++) {
        index = 1
        links.push(playlistData[i][index])
    }
    //console.log(playlistData)
</script>
<script>
    var playlistString = "{{choices}}";
    var playlistChoices = playlistString.split("  ").filter(item => item !== "");
    console.log(playlistChoices);

</script>
<script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/tracks.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/playlists.js') }}"></script>


</html>